@use "src/styles/variables" as *;

.wrapper{
  gap:2rem;
  width: 100vw;
  background-color: $bg_color;




}
.content_wrapper{
  width: 100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  gap:2.5rem;
}
.content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.logbtn{
  color: $primary_color;
}